@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Lobster&display=swap');

h1{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px rgb(165, 141, 141);
}

a {
    font-family: 'Alumni Sans Pinstripe', sans-serif; 
    color: black;
    font-size: 175%;
}


/* nav-bar sectie */







.navbar-brand{
    font-family: 'Lobster', cursive;
}


/* carousel sectie */


.carousel-inner img{
padding-left: 200px;
padding-right: 200px;
padding-bottom: 40px;
width: 100%;
height: 100vh;

}

.carousel-inner{
background-color: rgb(63, 63, 48);
}

.jumbotron{
    text-align: center;
}

.jumbotron h1 {
    font-family: 'Lobster', cursive;
    font-size: 500%;
    text-shadow: 1px 1px rgb(122, 121, 127);
}

/* ontstaan sectie */


.ontstaan{
    padding-top: 20px;
}

.text-ontstaan{
    padding-top: 200px;
}

/* Nieuws sectie */


.card-deck{
    background-color: rgb(225, 237, 247);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.card{
    margin: 40px 40px 40px 40px;
    height: 750px;
    
}

.nieuws-btn{
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-img-top{
    border-radius: 10px 10px 10px 10px;
}

.card-img-bottom{
    border-radius: 10px 10px 10px 10px;
}



/* fixed background image */

figure{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0! important;
}

.fixed-wrap{
    clip: rect(0,auto,auto,0);
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 5%;
    width: 100%;
    height: 100%;
    
}

#fixed{
    background-image: url("img/sponsers.jpg");
    position: fixed;
    display: block;
    top: 7%;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
}

html, body{
    height: 80%;
    width: 100%;
}

.padding{
    padding-bottom: 2rem;
}






  





.content{
    list-style: none;
}



.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}



.link--elara {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-size: 1.375rem;
}

.link--elara::before {
    transform-origin: 50% 100%;
    transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
    clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
    transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
    transform: translate3d(0, -2px, 0);
}

/*contact*/

.contact{
    background-color: rgb(225, 237, 247);
    padding: 20px;
}

p{
    padding: 20p;
}